.fadeTransition-enter {
    height: 0;
}

.fadeTransition-enter-active {
    transition: height 5000ms ease-out;
    height: 61px;
}

.fadeTransition-exit {
    height: 61px;
}

.fadeTransition-exit-active {
    transition: height 3500ms ease-out;
    height: 0;
}